.signup-form {
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}




.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.social-signup {
  margin-top: 20px;
}

.social-signup button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google {
  background-color: #4285f4;
  color: #fff;
}

.facebook {
  background-color: #4267b2;
  color: #fff;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #4285f4;
}

@media (min-width: 769px) {
  .signup-form {
    background-image: url('../../../../public/static/media/signUpBg.png')  ;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}